* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
  
body {
  background:#FFFFFF;
  color: #434343;
  font-family:'Open Sans', sans-serif;
  font-weight:300;
  font-size: 0.9em;
}

.header {
  background-color: skyblue;
  padding:10px;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.main {
  padding-top: 50px;
  padding-left: 80px;
  padding-right: 80px;
}

#welcome-msg {
  color:white;
   width:90%;
}

.header-links > *  {
  color: royalblue;
	font-weight: 600;
	margin-left: 20px;
	text-decoration: none;
}

.portfolio-main {
  display: flex;
  flex-direction: row;
}

.form-container {
  width: 40%;
  margin: 200px auto auto auto;
  padding: 50px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.form {
  margin: 20px;
  padding: 20px;
}

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.submit-button {
  background-color: skyblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px;
  cursor: pointer;
}

.holding-list{
  padding-right: 50px;
  border-right: 1px solid skyblue
}

#portfolio-total{
  padding-left: 20px;
  padding-bottom: 30px;
}

#api-ref{
  padding-top: 10px;
}

.trade-view {
  padding-top:100px;
  padding-left: 50px;
}

.trade-form {
  display: flex;
  flex-direction: column;
}

.err-message {
  color: #d50000;
  font-weight: bold;
  font-size: 20px
}